<div class="row parent" style="text-align:center;">
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Numero arábigo</mat-label>
            <input id="numero" name="numero" [(ngModel)]="numero" matInput placeholder="Ej. 122" (ngModelChange)="calcular()">
        </mat-form-field>
       
    </form>
    
</div>
<p></p>
<div class="row parent" style="text-align:center;">
    <form class="example-form">
        <label [ngClass]="error? 'alert-sucess' : 'alert-danger'" class=""  role="alert" >{{respuesta}}</label>
    </form>
    
</div>
