.example-form {
    min-width: 500px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .alert-danger {
    padding: 20px;
    background-color:darkred; /* Red */
    color: white;
    margin-bottom: 15px;
  }
  .alert-sucess {
    padding: 20px;
    background-color:darkgreen ; /* Red */
    color: white;
    margin-bottom: 15px;
  }